<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/base.js"></script>
  </head>
  <body>
    <header>
      <h1>AJAX!</h1>
      <p>Welcome to AJAX!</p>
    </header>
    <main>
      <h1>Some pictures</h1>
      <form action="">
        <input type="number" name="amount" placeholder="how many?" />
        <button type="submit">FETCH PICTURES :D</button>
      </form>
      <section></section>
      <button id="fetchOne">FETCH ONE MORE!</button>
    </main>
  </body>
</html>
